In [25]:
from sklearn import tree
from sklearn.feature_extraction import DictVectorizer
import pandas as pd
import os

In [26]:
df = pd.read_csv(os.path.join(".", "Cleaned_Data", "default.csv"))
df.tail()

,0,1,2,3,4,5,6,7,8,9,...,64,65,66,67,Latitude,Longitude,Short_Name,Country,Region,Sub_Region
1054,0.399577,0.310805,-0.039326,-0.111546,0.304586,-0.943453,0.114960,-0.335898,0.826753,-0.393786,...,0.646088,2.467278,1.867699,1.719302,-6.17,35.74,TZ,"Tanzania, United Republic of",Africa,Eastern Africa
1055,1.640386,1.306224,0.192745,-1.816855,-1.311906,-2.128963,-1.875967,0.094232,-1.429742,0.873777,...,0.517466,1.126762,2.220671,4.422651,11.55,104.91,KH,Cambodia,Asia,South-eastern Asia
1056,-0.772360,-0.670596,-0.840420,-0.832105,0.277346,1.152162,0.241470,0.229092,0.019036,-0.068804,...,0.044170,-0.718175,-0.983640,-0.573822,41.33,19.80,AL,Albania,Europe,Southern Europe
1057,-0.996965,-1.099395,3.515274,-0.508185,-1.102654,0.192081,0.069821,0.264674,-0.411533,0.501164,...,-0.546002,-0.137473,-0.781036,-0.832167,54.68,25.31,LT,Lithuania,Europe,Northern Europe
1058,-0.150911,-0.094333,-0.568885,-0.614652,0.332477,-0.954948,-1.527722,-1.591471,-3.678713,-5.930209,...,1.067164,5.244305,2.506568,1.462580,54.68,25.31,LT,Lithuania,Europe,Northern Europe

In [27]:
target = df["Country"]
target_names = [
'Mali',
'Turkey',
'Italy',
'Pakistan',
'Greece',
'Mainland of China',
'Uzbekistan',
'Brazil',
'Algeria',
'Cape Verde',
'United Kingdom',
'Morocco',
'Lithuania',
'Kenya',
'Egypt',
'Ethiopia',
'Georgia',
'Thailand',
'Kyrgyzstan',
'Taiwan',
'Myanmar',
'Indonesia',
'Senegal',
'Iran',
'Jamaica',
'Albania',
'Tanzania',
'Romania',
'Japan',
'Cambodia',
'Australia',
'Belize']

In [28]:
data = df.drop("Country", axis=1)
feature_names = data.columns
data.head()

,0,1,2,3,4,5,6,7,8,9,...,63,64,65,66,67,Latitude,Longitude,Short_Name,Region,Sub_Region
0,7.161286,7.835325,2.911583,0.984049,-1.499546,-2.094097,0.576000,-1.205671,1.849122,-0.425598,...,-0.174878,-1.089543,-0.668840,-0.914772,-0.836250,-15.75,-47.95,BR,South America,South America
1,0.225763,-0.094169,-0.603646,0.497745,0.874036,0.290280,-0.077659,-0.887385,0.432062,-0.093963,...,-0.157189,0.380951,1.088478,-0.123595,1.391141,14.91,-23.51,CV,Africa,Western Africa
2,-0.692525,-0.517801,-0.788035,1.214351,-0.907214,0.880213,0.406899,-0.694895,-0.901869,-1.701574,...,2.718442,0.972919,2.081069,1.375763,1.063847,12.65,-8.00,ML,Africa,Western Africa
3,-0.735562,-0.684055,2.058215,0.716328,-0.011393,0.805396,1.497982,0.114752,0.692847,0.052377,...,-1.020687,-0.751380,-0.385005,-0.012326,-0.392197,9.03,38.74,ET,Africa,Eastern Africa
4,0.570272,0.273157,-0.279214,0.083456,1.049331,-0.869295,-0.265858,-0.401676,-0.872639,1.147483,...,-0.190488,0.306974,0.119658,0.271838,1.289783,34.03,-6.85,MA,Africa,Northern Africa

In [29]:

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [23]:

clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

In [8]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.72916666666666663

In [9]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.2604038892633122, 'Glucose'),
 (0.16240738779159666, 'BMI'),
 (0.1437077712983523, 'Age'),
 (0.12126276641273467, 'DiabetesPedigreeFunction'),
 (0.088871399128041817, 'BloodPressure'),
 (0.079222898914976206, 'Pregnancies'),
 (0.07440650942444979, 'Insulin'),
 (0.069717377766536262, 'SkinThickness')]